.header-block {
    background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%);
    padding: 16px 0;
    

    &__title {
        margin: 0;
        font-size: $default-font-size;
        color: $caption-color;
        font-weight: 300;
    };
}