.menu {
    width: 100%;
    overflow: scroll;
    margin-top: $space-between-blocks-mobile;
    padding: 0;
    margin-bottom: 0;

    &__list{
        display: flex;
        width: max-content;
        margin-left: 16px;
        padding: 0;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    &__item {
        padding: 8px 16px;
    }
    
    &__link {
        text-decoration: none;
        color: $caption-color;
        font-size: $default-font-size;
    }
    
    &__item--active {
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background-color: $default-elements-background;
    }
}
