.show-btn {
    display: none;
    background: none;
    border: none;
    align-items: center;
    font-family: $main-font-family;
    font-size: $default-font-size;
    margin-top: $space-between-elements-laptop;
    gap: 1rem;
    cursor: pointer;
    

    @media (min-width: $screen-md) {
        display: flex;

        &__icon {
            transition: all 1s;
        }
        
        &--hide &__icon {
            transform: rotate(0deg);
        }
        
        &--show &__icon {
            transform: rotate(180deg);
        }
    }

    
}