.slider {
    transition: height 1s;
    overflow: hidden;

    &__wrapper {
        padding-bottom: 42px;
        height: inherit;

        @media (min-width: $screen-md) {
            display: grid;
            padding: 0;
            gap: 24px;
            grid-template-columns: repeat(auto-fit, 224px);
        }
    }

    &--indent {
        margin-top: $space-between-elements-mobile;
    }

};