.slider-brands {
    @media (min-width: $screen-md) {
        
        height: 170px;

        &--show {
            height: 365px;
        }
    }

    @media (min-width: 1019px) {
        &--show {
            height: 265px;
        }
    }
}