.modal {
    box-shadow: 16px 0px 52px 0px #0E185033;
    position: absolute;
    top: 0;
    z-index: 3;
    background-color: $default-elements-background;

    &__inner-wrapper {
        width: 90%;
        margin: 0 auto;
    }
}