.modal-call {
    min-width: 320px;
    max-width: 440px;
    padding-top: 24px;
    right: 0;

    &__close-btn {

        @media (min-width: 768px) {
            position: absolute;
            left: -70px;
            }
    }

    &__form {
        margin-top: $space-between-elements-laptop;
    }

    &__privacy-policy {
        margin-top: $space-between-elements-mobile;
    }

    &__btn {
        margin-top: 27px;
    }
}