.privacy-policy {
    font-size: 14px;
    color: #7E7E82;
    display: block;
    line-height: 16px;

    &__link {
        color: #FF3E79;
        text-decoration: none;
        cursor: pointer;
    }
}