@keyframes hide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-320px);
    }
}

@keyframes show {
    from {
        transform: translateX(-320px);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes hideRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(550px);
    }
}

@keyframes showRight {
    from {
        transform: translateX(550px);
    }

    to {
        transform: translateX(0);
    }
}

