$default-elements-background: #fff;
$background-active-color: #41F6D7; 
$btn-background-color: #FF3E79;
$footer-text-color: #7E7E82;
$link-active-color: #7E7E82;
$main-background: #F8F8F8; 
$caption-color: #7E7E82;
$border-color: #EAEAEA;
$text-color: #1B1C21;

$space-between-blocks-mobile: 24px;
$space-between-elements-mobile: 16px;
$space-between-blocks-laptop: 32px;
$space-between-elements-laptop: 24px;

$main-font-family: 'TTLakes', sans-serif;
$default-font-size: 16px;
$medium-font-size: 24px;
$large-font-size: 28px;

$screen-md: 768px;
$screen-lg: 1000px;
$screen-xl: 1440px;